.info-container {
    margin-top: 15px;
    background-color: #bbb;
    text-align: center;
    padding-bottom: 2.5rem;
        
}

.first-section {
    padding: 15px 
}

.second-section {
    margin: auto;
}