.hero-container {
    padding-top: 50px;
}

.hero-header {
    font-size: 18px;
}

.hero-text {
    font-size: 14px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

button {
    margin-top: 20px;
}